body{
    background: rgb(29, 48, 48);
}

.container {
    display: inline-flex;
}

.core input {
    margin-top: 2%;
}

.core input[type="submit"], input[type="file"]{
    background: darkslategray;
    border-color: darkslategrey;
    color: rgb(221, 218, 218);
    border-radius: 8rem;
    text-transform: uppercase;
}


.folder {
    background:rgb(1, 141, 180);
    margin: 2%;
    padding: 3%;
    min-width: max-content;
    text-align: center;
}

.folder-u{
    background:rgb(1, 141, 180);
    margin: 2%;
    padding: 5%;
}

.folder-u title, .folder-u core{
    color: rgb(29, 48, 48);
}

.folder-u .title h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 5;
}

.folder * {
    margin-top: 0.5%;
    color: rgb(29, 48, 48);
}

#f1{
    visibility: hidden;
}

#f1core{
    text-align: left;
    font-size: 22px;
    color: rgb(29, 29, 29);
    font-family: 'Courier New', Courier, monospace;
}

#f1 .title h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 5;
}

.main ol{
    margin-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
}


ol li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 1;
}


.major {
    text-align: left;
}

.ftu{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 5;
}

.ftu ol {
    margin: 0;
}

.ftu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.uli:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.05);
    text-decoration: line-through;
}